body{
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.father{
	margin: 20px;
	padding: 10px;
	font-family: "微软雅黑";
}

p{
	font-size: 20px;
	background-color: #8eff1f;
	box-shadow: 5px 5px 5px #FFFFFF;
	border-radius: 7px;
	overflow: hidden;
}

span{
	text-align: center;
	display: inline;
}

a{
	text-decoration: none;
}

a:hover{
	background-color: #e0f568;
}

ul li{
	list-style: circle;
}