            *{
                margin: 0;
                padding: 0;
            }
            a{
                 text-decoration: none;
            }
            a:visited{
                color: blue;
            }
            body{
                background-color: #f4f4f4;
            }
            header,#main,footer{
                box-shadow: 10px 10px 36px 0px rgba(208,208,208,0.76);
                -webkit-box-shadow: 10px 10px 36px 0px rgba(208,208,208,0.76);
                -moz-box-shadow: 10px 10px 36px 0px rgba(208,208,208,0.76);
            }
            header{
                height: 80px;
                background-color: #FFFFFF;
            }
            #img{
                width: 900px;
                display: inline-block;
            }
            #img img{
                position: relative;
                top: 6px;
            }
            .atarget{
                display: inline-block;
                width: 100px;
                text-align: center;
                color: darkblue;
                line-height: 80px;
                position: relative;
                top: -25px;
            }
            #main{
                margin: 50px auto;
                width: 1050px;
                height: 350px;
                padding: 30px;
                background-color: #FFFFFF;
                border-radius: 7px;
            }
            footer{
                text-align: center;
                background-color: white;
                height: 40px;
                line-height: 40px;
                color: grey;
            }